<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="#">SaW</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Accueil <span class="sr-only">(courant)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Un selfie</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Ta recherche ..."
                    aria-label="Ta recherche ...." #zoneRecherche>
                <button class="btn btn-danger my-2 my-sm-0" (click)="rechercher()">Recherche</button>
            </div>
        </div>
    </nav>
</header>